@page
@model InternalSupport.Pages.SupportTicket.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>SupportTickets</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SupportTickets.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SupportTickets.Status)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SupportTickets.id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SupportTickets.id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SupportTickets.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SupportTickets.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SupportTickets.Subject)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SupportTickets.Subject)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SupportTickets.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SupportTickets.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SupportTickets.created)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SupportTickets.created)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SupportTickets.Updated)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SupportTickets.Updated)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SupportTickets.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SupportTickets.Status)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SupportTickets.Assigned)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SupportTickets.Assigned)
        </dd>
       
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.SupportTickets.id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
